{% extends "polls/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
<!-- {% for entry in blog_entries %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.body }}</p>
{% endfor %} -->

<!-- oh no -->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<!-- oh no -->

{% endblock %}
<!-- oh no